{{category-link this.category}}

<div class="category-topics--content">
  {{#each this.topics as |topic|}}
    <a href={{topic.url}} class="category-topics--topic">
      {{html-safe (replace-emoji topic.fancy_title)}}
      {{#if topic.unread_posts}}
        <span class="category-topics--unread-posts">
          {{topic.unread_posts}}
        </span>
      {{/if}}
    </a>
  {{/each}}
</div>