<div class="member-benefits">
  <h3 class="category-list__heading">Member Benefits</h3>
</div>
<div class="jeppeson-logo">
  <img
    src="https://cdck-file-uploads-europe1.s3.dualstack.eu-west-1.amazonaws.com/flex014/uploads/ejopa/original/1X/6553eba1b5671000ea6bb9f10a804d64b0e81b56.jpg"
  />
</div>
