// Theme's SCSS
$header_background_darker: darken($header_background, 30%);
$header_background_lighter: lighten($header_background, 30%);

.rs-component {
  border: 3px solid $header-background;
  padding: 10px; /* Adds space inside the border */
  margin: 0px; /* Adds space between components */
  color: $header-background;
  box-sizing: border-box; /* Ensures padding and border are included in the element's width and height */

  a {
    color: $header_background;
  }

  a:visited {
    color: $header-background_lighter;
  }

  .category-list__container {
    // display like topic links
    // color: purple;

    a span.badge-category__name {
      font-size: 16px;
      font-weight: 400;
      color: $header-background;
      margin-bottom: 0px;
    }
  }

  .category-list__heading,
  .badge-category__name,
  .app-links h3 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: $header-background;
  }

  .app-badges {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .android,
  .ios {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white; /* optional, to see the bounds */
    overflow: hidden;
  }

  .android img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
  }
  .ios img {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    display: block;
  }

  .badge-category::before {
    content: "";
    display: none;
  }
  .badge-category__wrapper {
    // make bigger and bold
    // font-size: #{$sidebar_heading_font_size}em;
    // font-weight: #{$sidebar_heading_font_weight};
    font-size: 1em;
    font-weight: 700;
  }
  .not-sidebar-image {
    max-height: 300px;
    max-width: 100%;
  }
  .sidebar-image img {
    width: 100%; /* Makes the image fill the container's width */
    height: 100%; /* Makes the image fill the container's height */
    object-fit: cover; /* Ensures the image covers the container without distortion */
  }
  a.category-topics--topic[href^="/t/about-the"] {
    display: none;
  }
  .jeppeson-logo {
    width: 100%; /* Make the div take the full width of its parent */
    height: 100%; /* Make the div take the full height of its parent */
    display: block; /* Ensure the div behaves as a block-level element */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow: hidden; /* Hide any image overflow */
  }

  .jeppeson-logo img {
    width: 100%; /* Make the image take the full width of its parent */
    height: 100%; /* Make the image take the full height of its parent */
    object-fit: contain; /* Make the image resize while maintaining its aspect ratio */
    display: block; /*Remove the default padding*/
  }
  .member-benefits {
    font-size: 0.8em;
  }
  .discounts {
    font-size: 0.75em;
  }
}

span.category-topics--unread-posts {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $header-background;
  color: $secondary;
  line-height: var(--line-height-large);
  font-size: $font-down-1;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  border-radius: 50%;
}

span.category-topics--unread-posts:not(:empty) {
  padding: 0 6px;
}
span.category-topics--unread-posts:empty {
  padding: 0;
}
